<main>
    <section class="welcome__main">
        <article class="welcome__description">
            <h1 class="text-center text-3xl font-bold text-blueGray-700">Bienvenido {{nombreUsuario.nombre | uppercase}} !!</h1>

            <div class="mt-4 flex justify-center">
                <picture>
                    <img src="../../../assets/img/welcome_1.png" alt="Imagen joven estudiando" width="400" height="200">
                </picture>
            </div>

            <p class="px-10 text-justify text-lg">
                <span class="font-semibold">Un gusto encontrarte aquí</span>, en este OVA encontrarás todo sobre la informática educativa, una disciplina que integra la formación educativa con la implementación de Tecnologías de Información y Comunicación (TIC) para enriquecer los procesos de  enseñanza-aprendizaje impartido por los docentes. La herramienta principal utilizada será el computador, que actuará como herramienta mediadora para el aprendizaje, fundamentada en las teorías educativas.

                <br><br>

                El <span class="font-semibold">proposito</span> del OVA es ayudarte a ti a conocer, apropiarte y aprender todo lo relacionado a la Informática Educativa. Para que al finalizar su estudio, tenga las suficientes competencias y conocimientos que conlleva dicha asignatura.
            </p>
        </article>

        <article class="welcome__topics px-10 mt-8">
            <h2 class="text-center text-2xl uppercase font-bold text-blueGray-700">Contenidos</h2>

            <p class="text-justify text-lg mt-4">
                Temas y subtemas que encontrará en el OVA sobre el microcurrículo de la materia Informática Educativa, se organizó a nivel jerárquico enumerando con niveles los temas que se plantean en el OVA. 
            </p>

            <div class="mb-4">
                <ul class="text-justify text-lg px-10 mt-4">
                    <li class="mb-5"><span nz-icon nzType="read" nzTheme="outline" class="font-semibold"> TEMA 1. </span> Introducción a la Informática educativa y sus generalidades</li>
                    <li class="mb-3"><span nz-icon nzType="read" nzTheme="outline" class="font-semibold"> TEMA 2. </span> Software educativo
                        <ul class="mt-2 px-10">
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 2.1.</span> Definición del software educativo.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 2.2.</span> Estructura básica de los programas educativos: entorno de
                                comunicación, bases de datos y motor.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 2.3.</span> Tipologias.</li>
                            <li class="mb-5"><span class="font-semibold"> SUBTEMA 2.4.</span> Funciones del software educativo.</li>
                        </ul>
                    </li>
                    <li class="mb-3"><span nz-icon nzType="read" nzTheme="outline" class="font-semibold"> TEMA 3. </span> Generalidades de la educación virtual
                        <ul class="mt-2 px-10">
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 3.1.</span> ¿Qué son los Objetos de Aprendizaje?.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 3.2.</span> ¿Qué son los Sistema de gestión de aprendizaje (LMS)?.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 3.3.</span> Herramientas Exe-Learning y Reload.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 3.4.</span> ¿Qué es SCORM?.</li>
                            <li class="mb-5"><span class="font-semibold"> SUBTEMA 3.5.</span> ¿Qué es LOM?.</li>
                        </ul>
                    </li>
                    <li class="mb-3"><span nz-icon nzType="read" nzTheme="outline" class="font-semibold"> TEMA 4. </span> Metodología para el desarrollo de Objetos Virtuales de Aprendizaje
                        <ul class="mt-2 px-10">
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 4.1.</span> Fase de análisis y obtención.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 4.2.</span> Fase de diseño.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 4.3.</span> Fase de construcción.</li>
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 4.4.</span> Fase de evaluación.</li>
                            <li class="mb-5"><span class="font-semibold"> SUBTEMA 4.5.</span> Fase de implementación.</li>
                        </ul>
                    </li>
                    <li class="mb-3"><span nz-icon nzType="read" nzTheme="outline" class="font-semibold"> TEMA 5. </span> Herramientas para el desarrollo de Objetos Virtuales de Aprendizaje
                        <ul class="mt-2 px-10">
                            <li class="mb-3"><span class="font-semibold"> SUBTEMA 5.1.</span> Herramientas de autor.</li>
                            <li class="mb-5"><span class="font-semibold"> SUBTEMA 5.2.</span> Herramienta de diseño de actividades.</li>
                        </ul>
                    </li>
                    <li class="mb-3"><span nz-icon nzType="rocket" nzTheme="outline" class="font-semibold"> EVALUACIÓN FINAL SUMATIVA. </span> Se evaluán los cinco (5) temas.</li>
                </ul>
            </div>

            <div class="welcome__btn-start flex justify-center mt-10 mb-6">
                <div class="btn-start">
                    <button nz-button nzType="primary" nzSize="large" nzBlock>
                        <a routerLink='/estudiante/tema/1' class="text-white">INICIAR</a>
                    </button>
                </div>
            </div>
        </article>
    </section>
</main>
