<div class="titulo__principal">
    <h1 class="text-center text-3xl font-bold text-blueGray-700">Bienvenido {{nombreUsuario.nombre | uppercase}} !!</h1>

    <div nz-row class="mt-4 flex items-center justify-center">
        <div nz-col nzSpan="24 justify-center">
            <img src="../../../assets/img/welcome_1.png" alt="Imagen joven estudiando" width="400" height="200">
        </div>
    </div>
    <div nz-row class="mt-2">
        <div nz-col nzSpan="24">
            <section class="welcome__intro px-10 text-justify">
                <article>
                    <h3 class="text-red-600 text-3xl font-semibold">INTRODUCCIÓN</h3>
                    <p class="text-lg mt-5">
                        La educación ha sido uno de los pilares fundamentales para el crecimiento de la sociedad, cada vez el mundo, sociedad está en constante cambio en la que tiene como finalidad adquirir conocimientos para lograr crecer, sin embargo, desde hace décadas la forma de impartir la educación siempre ha sido la misma en la cual consiste básicamente interacción aula, profesor y estudiante, no solo la forma de impartir siempre ha sido la misma, sino también en los ambientes en que se imparte, pues siempre ha sido en un aula de clases. Esta forma de educación gracias a la tecnología está innovando para mejorar la forma de adquirir conocimientos, por medio de los objetos virtuales de aprendizaje que proporcionan nuevas herramientas de enseñanza y aprendizaje de la mano de herramientas tecnológicas e innovadoras. 
                    </p>
                </article>
            </section>
        </div>
    </div>
    
    <section class="mt-10">
        <h3 class="text-red-600 text-center text-2xl font-semibold">OVA</h3>
        <div nz-row class="px-8 mt-4">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="8" class="flex justify-center">
                <img src="../../../assets/img/welcome_2.jpg" alt="Imagen joven estudiando" width="400" height="200">
            </div>
            <article nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="16" class="mt-2 flex justify-start">
                <p class="text-lg mt-4 text-justify">
                    Los Objetos de Aprendizaje se definen como cualquier entidad, digital o no digital,
                    que puede ser utilizado, reutilizados o referenciados durante el aprendizaje apoyado con la
                    tecnología. Ejemplos de enseñanza apoyada por la tecnología incluyen los sistemas basados
                    en computadoras, los entornos de aprendizaje interactivos, los sistemas inteligentes de
                    instrucción asistida por computadora, los sistemas de aprendizaje a distancia y ambientes de
                    aprendizaje colaborativo. Ejemplos de objetos de aprendizaje incluyen los contenidos
                    multimedia, los contenidos educativos, los objetivos de aprendizaje, software y herramientas
                    de software de instrucción, y las personas, organizaciones o acontecimientos que se hace
                    referencia en la tecnología con el apoyo de aprendizaje.
                    <br>

                </p>
            </article>
        </div>
    </section>
    
    <div nz-row class="mt-4">
        <div nz-col nzSpan="8">
            col-8
        </div>
        <div nz-col nzSpan="8">
            col-8
        </div>
        <div nz-col nzSpan="8">
            col-8
        </div>
    </div>

    <hr>

    <!-- <div nz-row>
        <div nz-col nzSpan="24">
            <section>
                <app-question></app-question> 
            </section>
        </div>
    </div> -->
</div>
