<div *ngIf="id == 1">

    tema1 works!

</div>

<div *ngIf="id == 2">
    <!-- Introducción -->
    <h2 class="text-center uppercase text-3xl font-bold">Introduccion</h2>

    <!-- Question -->
    <div id="evaluacion2">
        <button routerLink='/question/1'
        nz-button nzType="primary">
            Iniciar Evaluación
        </button>
    </div>
    
</div>

<div *ngIf="id == 3">
    tema3 works! eeeeeeeee
</div>

<div *ngIf="id == 4">
    tema4 works! fff
</div>

<div *ngIf="id == 5">
    tema5 works! qqq
</div>