<div class="navbar__header" style="  height: 32px;
background: rgba(255, 255, 255, 0.2);
margin: 16px;">
</div>

<ul class="bg-red-uno text-white" nz-menu nzMode="inline">

    <ul class="text-center uppercase font-bold">
    <li class="text-white" nz-menu-group nzTitle="Contenido temático"></li>
    </ul>
    
    <li class="font-semibold" nz-submenu nzOpen nzTitle="TEMA 1" nzIcon="book">
      <ul class="bg-red-dos text-white border">
      <li nz-menu-item>
        <a routerLink='/estudiante/tema/1' class="text-white">Introducción</a>
      </li>
      <li nz-submenu nzTitle="Subtema 1">
        <ul class="bg-red-tres" style="border: 1px solid #f4f4f4;">
          <li nz-menu-item>
            <a routerLink='/estudiante/subtema/11'>Contenido</a>
          </li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Subtema 2">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <!-- <li nz-menu-item>Evaluación</li> -->
      </ul>
    </li>

    <li class="font-semibold" nz-submenu nzTitle="TEMA 2" nzIcon="book">
      <ul class="bg-red-dos text-white border">
      <li nz-menu-item>
        <a     
        routerLink='/estudiante/tema/2' class="text-white">Introducción</a>
      </li>
      <li nz-submenu nzTitle="Subtema 1">
        <ul>
          <li nz-menu-item>
            Contenido
          </li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Subtema 2">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-menu-item>
        <a     
        routerLink='/estudiante/tema/2/' fragment="evaluacion2" class="text-white">Evaluación</a>
      </li>
    </ul>
    </li>

    <li class="font-semibold" nz-submenu nzTitle="TEMA 3" nzIcon="book">
      <ul class="bg-red-dos text-white border">
      <li nz-menu-item>
        <a routerLink='/estudiante/tema/3' class="text-white">Introducción</a>
      </li>
      <li nz-submenu nzTitle="Subtema 1">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Subtema 2">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-menu-item>Evaluación</li>
    </ul>
    </li>

    <li class="font-semibold" nz-submenu nzTitle="TEMA 4" nzIcon="book">
      <ul class="bg-red-dos text-white border">
      <li nz-menu-item>
        <a routerLink='/estudiante/tema/4' class="text-white">Introducción</a>
      </li>
      <li nz-submenu nzTitle="Subtema 1">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Subtema 2">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-menu-item>Evaluación</li>
    </ul>
    </li>

    <li class="font-semibold" nz-submenu nzTitle="TEMA 5" nzIcon="book">
      <ul class="bg-red-dos text-white border">
      <li nz-menu-item>
        <a routerLink='/estudiante/tema/5' class="text-white">Introducción</a>
      </li>
      <li nz-submenu nzTitle="Subtema 1">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Subtema 2">
        <ul>
          <li nz-menu-item>Contenido</li>
          <li nz-menu-item>Actividad</li>
        </ul>
      </li>
      <li nz-menu-item>Evaluación</li>
    </ul>
    </li>

    <li class="font-semibold" nz-menu-item>
    <span nz-icon nzType="file-done"></span>
    <span>Cuestionario final</span>
    </li>
</ul>


